@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Poppins:ital,wght@0,300;0,600;1,300;1,600&display=swap");

:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  /* --bg-button-color: #8257e5; */
  --bg-button-color: #9d61f8;
}

*,
*::before,
*::after {
  font-family: "League Spartan", sans-serif;
  /* 24px */
  line-height: 1.5rem;
  /* 16px */
  font-size: 1rem;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--body-bg-color);
  position: relative;
  overflow-x: hidden;
}

@media (min-width: 767.98px) {
  body {
    /* content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh; */
    background-image: url(/assets/img/read_news.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100%;
    background-color: var(--body-bg-color);
    z-index: -1;
  }
}

@media (min-width: 1119.98px) {
  body {
    background-size: contain;
  }
}

header {
  padding: 24px 0;
}

.container {
  --bs-gutter-x: 1.5rem;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

header nav ul {
  display: flex;
  width: max-content;
  justify-content: left;
}

nav ul li {
  list-style: none;
  width: max-content;
}

/* Navegação para o main mais rápido para deficiente visual
Melhorar a acessibilidade */
header nav ul > li > a#deficiente-visual {
  display: none;
}

header nav ul > li:nth-child(2) a {
  height: 150px;
  width: 336px;
  display: block;
}

@media (min-width: 991.98px) {
  header nav ul > li:nth-child(2) a {
    width: 400px;
  }
}

header nav ul li a > figure > img#logo {
  width: 100%;
  height: 100%;
}

[class^="lc-title"] {
  text-transform: lowercase;
  margin-bottom: 12px;
}

.lc-title-h2 {
  font-size: 1.6rem;
  color: var(--title-color);
}

.lc-title-h3 {
  font-size: 1.1rem;
  color: var(--text-color);
}

.paragraph-text {
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color);
}

section:nth-child(1) {
  margin-bottom: 40px;
}

section form {
  padding: 24px 0;
}

fieldset {
  border: none;
}

label.label-form {
  display: block;
  font-size: 1.2rem;
  color: var(--form-color);
  margin-bottom: 4px;
  cursor: pointer;
}

div.form-flex-box {
  display: flex;
  width: max-content;
}

form#send-email-form div.form-flex-box {
  box-shadow: 6px 6px 8px var(--body-bg-color);
}

input,
button {
  border: none;
  border-radius: 0;
  height: 40px;
  width: 40px;
}

input:hover {
  outline: 2px solid white;
  border: 2px solid blue;
  border-radius: 2px;
}

input#email {
  border-left: 4px solid var(--title-color);
  padding-left: 8px;
  width: 50vw;
}

button {
  display: flex;
  align-items: center;
  padding: 0 8px;
  cursor: pointer;
  background-color: var(--bg-button-color);
}

button > figure {
  display: inherit;
}

section a.icon-link {
  display: flex;
  height: 24px;
  width: max-content;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--bg-button-color);
  position: relative;
}

section a.icon-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 110%;
  width: 0px;
  height: 1px;
  background-color: var(--bg-button-color);
  transition: all 0.5s ease-out;
}

section a.icon-link:hover::before {
  width: 100%;
}

a.icon-link figure {
  padding-left: 8px;
}
