* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    cursor: url(../img/mata_mosca.png) 30 30, auto;
}

html,
body,
.container {
    height: 100%;
}

body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-control {
    width: auto;
}

.painel {
    background-color: rgba(255, 255, 255, 0.65);
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.lifes img{
    padding: 0 5px;
}

.timer {
    font-size: 1.1em;
}

/* Size da mosca */
.mosca-min-size {
    /* x2,5 */
    width: 65px;
    height: 67px;
}

.mosca-med-size {
    /* x3,5 */
    width: 91px;
    height: 94.5px;
}

.mosca-max-size {
    /* x4,5 */
    width: 117px;
    height: 121.5px;
}

/* Lado que a mosca olha  */
.side-a{
    transform: scaleX(1);
}

.side-b {
    transform: scaleX(-1);
}

/* Consertar o bg em telas maiores */
@media (min-width: 1200px) {
    body {
        background-size: 100%;
    }
}