* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@-webkit-keyframes changeColor-caixa {
    from {
        background-color: red;
        border-radius: 0px;
        top: 0;
        left: 0;
    }

    to {
        background-color: yellow;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}

@-moz-keyframes changeColor-caixa {
    from {
        background-color: red;
        border-radius: 0px;
        top: 0;
        left: 0;
    }

    to {
        background-color: yellow;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}

@-o-keyframes changeColor-caixa {
    from {
        background-color: red;
        border-radius: 0px;
        top: 0;
        left: 0;
    }

    to {
        background-color: yellow;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}

@keyframes changeColor-caixa {
    from {
        background-color: red;
        border-radius: 0px;
        top: 0;
        left: 0;
    }

    to {
        background-color: yellow;
        border-radius: 300px;
        top: 200px;
        left: 200px;
    }
}

#caixa {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: changeColor-caixa;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: 6;
}